body {
    margin: 200px;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: #b63636;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: normal;
    padding: 70px;
    background-color: #ff2c2c;
    border: 6px solid #000000;
    border-radius: 8px;
}
